.thumbnail{
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
    border-radius: 10px;
    border: 2px darkgrey solid;
    overflow: hidden;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        max-width: 10rem;
        max-height: 10rem;
    }   
}