.edit-proj{
    padding : 2rem;
    nav{
        display: flex;
        justify-content: space-between;
        border : 2rem;
        border-bottom: 1px lightgray solid;
    }

    .nav-button{
        color: black;
        background-color: transparent;
        border: none;
    }

    .header{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;   

        .main-image {
            img{
                border-radius: 1rem;
            }
            margin-right: 1rem;
        }
    }

    .main-content{
        margin-top: 2rem;

        .field-and-label{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            label{
                font-weight: bold;
            }
        }
    }
}