.edit-proj{
    padding : 2rem;
    nav{
        display: flex;
        justify-content: space-between;
        border : 2rem;
        border-bottom: 1px lightgray solid;
    }

    .nav-button{
        color: black;
        background-color: transparent;
        border: none;
    }

    .header{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;   

        .main-image {
            img{
                border-radius: 1rem;
                box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
            }
            margin-right: 1rem;
        }
    }

    .main-content{
        margin-top: 2rem;

        .section{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .section-label{
                border-bottom: 1px darkgray solid;
                font-weight: bold;
                font-size:x-large;
                width:100%;
                text-align: left;
                margin-bottom: 1rem;
            }

            .fields{
                margin-left: 1rem;
            }
        }
    }
}