<div class="edit-proj">
    <nav>
        <span class="left-part">
            <b-button class="nav-button" @click="goToHome()">
                <font-awesome-icon :icon="backIcon" size="2x" />
            </b-button>
        </span>
        <span class="right-part">
            <span>
                <b-button v-if="!editMode" class="nav-button" @click="editProj()">
                    <font-awesome-icon :icon="editIcon" size="2x" />
                </b-button>
                <b-button v-else class="nav-button" @click="saveProj()">
                    <font-awesome-icon :icon="saveIcon" size="2x" />
                </b-button>
            </span>
            <b-button class="nav-button" @click="deleteProj()">
                <font-awesome-icon :icon="deleteIcon" size="2x" />
            </b-button>
        </span>
    </nav>
    <div class="header">
        <div class="upper">
            <v-thumbnail :src="mediasSrc[0]"></v-thumbnail>
            <div v-if="proj" class="infos">
                <h2>{{ proj.name }}</h2>
                <h3>{{ proj.brand }}</h3>
            </div>
        </div>
        <v-media-gallery @file-added="uploadMedia" :srcs="mediasSrc" />
    </div>
    <div v-if="proj" class="main-content">
        <div class="section">
            <label class="section-label">Modèle</label>
            <div class="fields">
                <v-switchable-field :editMode="editMode" v-model="proj.name" label="Nom du modèle" />
                <v-switchable-field :editMode="editMode" v-model="proj.brand" label="Marque" />
                <v-switchable-field :editMode="editMode" v-model="proj.manufacturingYear"
                    label="Année de fabrication" />
            </div>
        </div>
        <br />
        <div class="section">
            <label class="section-label">Acquisition</label>
            <div class="fields">
                <v-switchable-field :editMode="editMode" v-model="proj.acquisitionYear" label="Année d'acquisition" />
                <v-switchable-field :editMode="editMode" v-model="proj.acquisitionPrice" label="Prix d'acquisition" />
                <v-switchable-field :editMode="editMode" v-model="proj.acquisitionPlace" label="Lieu d'acquisition" />
            </div>
        </div>
        <div class="section">
            <label class="section-label">Notes</label>
            <v-switchable-field :editMode="editMode" v-model="proj.notes" :textarea="true" label="" class="notes" />
        </div>
    </div>
</div>