.edit-proj{
    padding : 2rem;
    nav{
        display: flex;
        justify-content: space-between;
        border : 2rem;
        border-bottom: 1px lightgray solid;
    }

    .nav-button{
        color: black;
        background-color: transparent;
        border: none;
    }

    .header{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-top: 1rem;   

            .hidden-file-input{
                position: absolute !important;
                height: 1px;
                width: 1px;
                overflow: hidden;
                clip: rect(1px, 1px, 1px, 1px);
            }

            /* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
            input.visually-hidden:focus + label {
            outline: thin dotted;
            }
            input.visually-hidden:focus-within + label {
            outline: thin dotted;
            }

            img{
                border-radius: 1rem;
                box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
                max-width: 33%;
                margin-right: 1rem;
            }
            .infos{
                min-width: 33%;
                text-align:start;
            }
    }

    .main-content{
        margin-top: 2rem;

        .section{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .section-label{
                border-bottom: 1px darkgray solid;
                font-weight: bold;
                font-size:x-large;
                width:100%;
                text-align: left;
                margin-bottom: 1rem;
            }

            .fields{
                margin-left: 1rem;
            }
        }
    }
}