.proj-card{
    border: 1px darkgrey solid;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: lightgrey;
    -webkit-box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.57); 
    box-shadow: 5px 5px 3px -2px rgba(0,0,0,0.57);

    .card-body{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
                  
    
        .summary{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}