<b-card class="proj-card">
    <v-thumbnail :src="mainMediaSrc"/>
    <div class="summary" v-if="proj.brand || proj.name || proj.manufacturingYear">
        <h2>
            {{proj.name}} 
            <span v-if="proj.brand">
                ({{proj.brand}})
            </span>
        </h2>
        <span v-if="proj.manufacturingYear">Année de fabrication : {{ proj.manufacturingYear }}</span>
    </div>
    <div class = "summary" v-else>
        Aucune information pour le moment
    </div>
</b-card>